/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/* Variables */
:root {
    --oscuro: #272343;
    --blanco: #FFFFFF;
    --claro: #E3F6F5;
    --menosClaro: #BAE8E8;
}

/* Globales */
html { /* Box Model */
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;    
    background-color: var(--oscuro);
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 4.2rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.8rem;
}
img {
    max-width: 100%;
    display: block;    
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
fieldset {
    border: none;
    padding: 0;
}
label {
    display: block;
    margin-bottom: .5rem;
}

/* Utilidades */
[class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
@media (min-width: 768px) {
    [class$="__contenedor"] {
        width: 90%;
}
}
[class$="__heading"] {
    text-align: center;
}


/* HEADER */
.header {    
    padding: 3rem 0;
}
.header__heading {
    color: var(--menosClaro);
}

.navegacion {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .header {
        padding: 1rem;
    }
    .header__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    .header__logo {
        width: 15rem;        
    }
    .navegacion {
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    color: var(--menosClaro);
    font-size: 2rem;
}

.navegacion__enlace:hover {
    background-color: var(--menosClaro);
    border-radius: .6rem;
    color: var(--oscuro);
    transition: .3s;
}

@media (min-width: 768px) {
    .navegacion__enlace--activo {
        background-color: var(--claro);
        color: var(--oscuro);
        border-radius: .6rem;
    }
}


/* MAIN */
.main__heading {
    color: var(--blanco);
}

.main__tecnologias {
    color: var(--menosClaro);
}
.main__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.main__texto {
    color: var(--blanco);
    text-align: center;
}

.main__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    overflow: hidden;
}

.main__logo {
    width: 5rem;
    height: auto;    
}




/* SECTION - Crear Clientes */

.crearCliente {
    background-color: var(--blanco);
    margin: 5rem 0 0 0;
    padding: 3rem 0;
}
.crearCliente__display {
    background-color: var(--menosClaro);
    border-radius: 1rem;
    padding: 3rem;
}
.crearCliente__heading {
    color: var(--oscuro);
}


@media (min-width: 560px) {
    .crearCliente__formulario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

.crearCliente__input {
    width: 100%;
    background-color: var(--blanco);
    border: none;
    padding: 1.2rem;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
}

.crearCliente__boton {
    display: block;
    margin: 1.5rem auto 0 auto;
    background-color: var(--oscuro);
    color: var(--claro);
    border: none;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
@media (min-width: 560px) {
    .crearCliente__boton {
        padding: 1.6rem 3rem;
        width: 30rem;
    }
}
.crearCliente__boton:hover {
    background-color: #1a172c;
    color: var(--claro);
    transition: .3s;
}


/* SECTION - Tabla  Clientes */

.tablaClientes {
    margin: 3rem 0;
}




/* FOOTER */

.footer {
    background-color: var(--menosClaro);    
    padding: 3rem;
}

.footer__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__texto h3 {
    color: var(--azul);
}

@media (min-width: 768px) {
    .footer__texto {
        padding-bottom: 5rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }
}

.footer__logo {
    margin: 1rem auto;
    height: 11rem;
}
.footer_cuc {
    color: var(--azul);
    font-weight: 700;
}
.footer__organizacion,
.footer__estudiantes {
    text-align: center;
    font-size: 2rem;
}

.footer__organizacion h3{
    margin-bottom: 0;
}

.footer__estudiantes li {
    margin-bottom: 2rem;
}

.name__flex {
    display: flex;
    align-items: center;
}
.owner {
    font-size: 2.7rem;
    color:var(--azul_oscuro);
    margin: 0;
}
.owner span {
    color: red;
}
.star {
    width: 2rem;
    height: auto;
    margin-right: 2rem;
}
